@model MVC.Models.Category

<h1>Delete</h1>

<h3>Are you sure you want to delete?</h3>

<div>
    <h4>Category</h4>
    <hr />
    @using (Html.BeginForm("DeleteConfirmed", "Category", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.DisplayNameFor(model => model.CategoryName)
            @Html.DisplayFor(model => model.CategoryName)
        </div>
        <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
        <a href="/Index" class="btn btn-danger">Back</a>
    }
</div>
