@model IEnumerable<MVC.Models.Category>

<h1>Category</h1>
<p>
    <a asp-action="Insert">New Category</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>CategoryId</td>
            <td>CategoryName</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("UPDATE", "Update", new { id = item.Id }) |
                    @Html.ActionLink("DELETE", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>